@CHARSET "UTF-8";

div.popup-element{ display: inline;}

div.popup-element a.popup-title,
div.popup-element a.popup-title span{ cursor: pointer;}

div.popup-element div.popup-anchor{ display: inline; position: absolute;}
div.popup-element div.popup-positioner{ position: absolute;}
div.popup-element div.popup-body{ display: none; background: #ffffff; border: 1px solid; position: relative; width: auto;}

.popup-menu-title{ display: block; width: 150px;}
.popup-menu-container div.popup-element{ display: block; width: 150px;}
.popup-menu-top-title{ display: inline;}

.popup-menu-body{ left: 150px;}
.popup-menu-top-title{ display: inline;}

a.popup-menu-title:hover { background-color: #000099; color: #fff;}

a.popup-submenu-title { background: url('images/arrow.gif') no-repeat right center; padding-right: 10px; width: 140px;}
a.popup-submenu-title:hover { background-image: url('images/arrow-hover.gif'); background-repeat: no-repeat; background-position: right center;}